* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  list-style: none;
}

.container {
  width: 70%;
  margin: auto;
}

.header {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 100px;
}

.logo img {
  max-width: 100%;
}

.header nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.header nav ul li a {
  color: black;
  text-decoration: none;
  position: relative;
  padding-bottom: 40px;
}

/*hover sulla navbar dell'header*/
.header nav ul li a:hover {
  color: #0282f9;
}

.header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 5px;
  background-color: #0282f9;
}

.header nav ul li a:hover::after {
  width: 100%;
}

/*main*/
main {
  background-color: black;
}

main p {
  color: white;
  font-size: 20px;
  padding: 50px 0px;
}

/*menu azzurro*/
#blue_menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #0282f9;
  padding: 20px;
}

#blue_menu figure {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 14px;
}

#blue_menu img {
  width: 50px;
  height: auto;
}

/*footer principale*/
#footer-1 {
  display: flex;
  align-items: center;
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 20px;
  width: 100%;
}

.menu {
  display: flex;
  gap: 30px;
  font-size: 10px;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.menu ul li:first-child {
  font-weight: bold;
  color: white;
}

.menu ul li {
  color: grey;
}

#footer-1 .dc-logo {
  position: relative;
  margin-left: auto;
  z-index: 100;
}

#footer-1 .dc-logo img {
  width: 300px;
}

/*footer inferiore*/
#footer-2 {
  background-color: #303030;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 10px;
}

#sign-up_button {
  background-color: #303030;
  border: 1px solid #0282f9;
  color: white;
  padding: 10px;
  cursor: pointer;
}

#follow-us_button {
  background-color: #303030;
  color: #0282f9;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 200px;
}

/*sezione card*/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 70%;
}

/*singole card*/
.card-image {
  width: 50%;
}

/*singole immagini*/
.card-image img {
  width: 100%;
}

/*titolo card*/
.card-image h4 {
  color: white;
}